@import "tailwindcss";

@theme {
  --color-netflix-red: #E50914;
  --color-netflix-black: #141414;
  --color-netflix-dark: #181818;
}

body {
  background-color: var(--color-netflix-black);
  color: white;
}
